.detail
{
    color: white;
    background-color:#84cdf2;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.heading-detail
{
    font-size: 20px;
    font-weight: bold;
}

.arrow-right
{
    margin-right: 10px;
    color: #ffb20b;
    font-size: 15px;
}

